# Open AI API Key(But it required credit)
OPENAI_API_KEY = "sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Gemini AI API Key(But it required credit)
GOOGLE_API_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Google Gemini Model(Free model)
GOOGLE_MODEL = "gemini-xxx-xxxx"

# Groq AI API Key and Model
GROQ_API_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# GROQ_MODEL="xxxx/yyyy-109b"
# GROQ_MODEL="xxxx/yyyy-ccc-150b"

# HuggingFace API Token (Act as API Key)
HF_TOKEN = "xxxxxxx_xxxxxxxxxxxxxxxxxxx_xxxxx"

# LangChain API Key(For managing and monitoring Activity on LangSmith)
LANGCHAIN_API_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
LANGCHAIN_PROJECT = "Replace_all_with_actual_api's"