langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain_openai
langchain-google-genai
faiss-cpu
tavily-python
python-dotenv
fastapi[standard]
pydantic
pydantic-settings
tiktoken
youtube-transcript-api
google-genai
qdrant-client
psycopg[binary]
sqlalchemy
alembic
rank_bm25