fastapi[standard]
pydantic
pydantic-settings
python-dotenv
youtube-transcript-api
tiktoken
google-genai
langchain_core
langchain_groq
qdrant-client
rank_bm25
sentence-transformers
sqlalchemy
psycopg[binary]
alembic